<div class="row">
  <div class="col-10 offset-1">
    <ul class="nav nav-tabs nav-fill pt-4"
	id="myTab">
      <li class="nav-item">
	<a class="nav-link active"
	   id="new-tab"
	   data-toggle="tab"
	   href="#tab-new">New</a>
      </li>
      <li class="nav-item">
	<a class="nav-link"
	   id="approved-tab"
	   data-toggle="tab"
	   href="#tab-approved">Approved</a>
      </li>
    </ul>
    <div class="tab-content" id="myTab-content">
      <div class="tab-pane fade show active"
	   id="tab-new" >
	<table id="new-table"
	       class="table table-bordered table-striped"></table>
      </div>
      <div class="tab-pane fade"
	   id="tab-approved">
	<table id="approved-table"
	       class="table table-bordered table-striped"></table>
      </div>
    </div>
  </div>
</div>
