<div class="row">
  <div class="col-10 offset-1">
    <ul class="nav nav-tabs nav-fill pt-4"
	id="myTab">
      <li class="nav-item">
	<a class="nav-link active"
	   id="new-tab"
	   data-toggle="tab"
	   href="#tab-new">New</a>
      </li>
      <li class="nav-item">
	<a class="nav-link"
	   id="approved-tab"
	   data-toggle="tab"
	   href="#tab-approved">Approved</a>
      </li>
    </ul>
    <div class="tab-content" id="myTab-content">
      <div class="tab-pane fade show active"
	   id="tab-new" >
	<div id="new-toolbar" class="d-flex">
	  <button class="approve-btn new-btn btn btn-primary mr-2" disabled>
	    <i class="fas fa-check"></i> Approve
	  </button>
	  <button class="disapprove-btn new-btn btn btn-info" disabled>
	    <i class="fas fa-ban"></i> Disapprove
	  </button>
	</div>
	<table id="new-table"
	       data-toolbar="#new-toolbar"
	       class="table table-bordered table-striped"></table>
      </div>
      <div class="tab-pane fade"
	   id="tab-approved">
	<div id="approved-toolbar" class="d-flex">
	  <button class="disapprove-btn approved-btn btn btn-info" disabled>
	    <i class="fas fa-ban"></i> Disapprove
	  </button>
	</div>
	<table id="approved-table"
	       data-toolbar="#approved-toolbar"
	       class="table table-bordered table-striped"></table>
      </div>
    </div>
  </div>
</div>
<script type="text/nj-tmpl" id="address-format-tmpl">
  {%verbatim%}
  <div style="max-height: 100px; overflow-y: auto;">
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Type</th>
	<th>Address</th>
      </tr>
    </thead>
    <tbody>
      {%for item in addr%}
      <tr>
	<td>{{item.types | join(',')}}</td>
	<td>{{item.formatted_address}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
    <div>
  {%endverbatim%}
</script>
