{%extends "base.html"%}
{%load static%}

{%block css_header%}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{%endblock%}

{%block content%}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active">Vasolabs Password Reset</h2>
    <form method="post" action="/portal/finduser/">
      {% csrf_token %}
      <div class="m-4 form-group">
	<input type="text"
	       id="email"
	       class="fadeIn second"
	       name="email"
	       autocomplete="email"
	       maxlength="254"
	       class="form-control"
	       placeholder="enter email or phone">
      </div>
      {%if error%}
      <div class="m-4 row">
	<div class="col text-red-500">{{error}}</div>
      </div>
      {%endif%}
      <div class="form-group">
	<input type="submit" class="fadeIn fourth" value="Reset Password">
      </div>
    </form>
  </div>
</div>
{%endblock%}
