{%extends "base.html"%}
{%load static%}

{%block css_header%}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{%endblock%}

{%block content%}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active text-2xl">Check Your Email</h2>
    <div class="m-4 row">
      <div class="col">
	<p>We have emailed you instructions for resetting your
	  password.</p>
      </div>
    </div>
    <div class="m-4 row">
      <div class="col">
	<p>If you don't see the email, please check your spam
	  folder.</p>
      </div>
    </div>
    <div class="m-4 row">
      <div class="col">
	<p>Thank you.</p>
      </div>
    </div>
    <div id="formFooter">
      Please call Vasolabs at (801)797-2297 for help.
    </div>
  </div>
</div>
{%endblock%}
