{%extends "base.html"%}

{%load static%}

{%block css_header%}
<link rel="stylesheet" href="{%static 'bootstrap-table/bootstrap-table.min.css'%}">
<link rel="stylesheet" href="{%static 'jQuery-contextMenu/jquery.contextMenu.min.css'%}">
<link rel="stylesheet" href="{%static 'fullscreen-modal/bootstrap4-modal-fullscreen.min.css'%}">
<link rel="stylesheet" href="{%static 'sweetalert2/sweetalert2.min.css'%}">
<link rel="stylesheet" href="{%static 'jquery-ui/jquery-ui.min.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap-side-modals.css'%}">
<link rel="stylesheet" href="{%static 'jsondiffpatch/formatters-styles/html.css'%}">
<style type="text/css">
  .dropdown-item {
      background-color: #C4B5FD;
      border-bottom: solid 1px #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #fff;
  }
  .dropdown-menu {
      padding: 0;
  }
  .dropdown-item:hover {
      color: #3ED8B5;
      background-color: #6D28D9;
  }
  label.dropdown-item { margin-bottom: 0 }
</style>
{%endblock%}


{%block content%}
<body>
<main>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
	<div class="d-flex">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
	    <img src="{%static 'images/logo.png'%}" alt="Vasolabs" width="35">
	  </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li class="dropdown">
	      <a href="javascript:;"
		 data-toggle="dropdown"
		 class="nav-link dropdown-toggle px-2 text-white">Admin</a>
	      <div class="dropdown-menu bg-dark">
		<h6 class="font-bold text-xl text-white dropdown-header">Users</h6>
		<a class="add-new-user dropdown-item" href="javascript:;">Add New</a>
		<a class="manage-users dropdown-item" href="javascript:;">Manage</a>
		<h6 class="font-bold text-xl text-white dropdown-header">Password Templates</h6>
		<a class="edit-generic-pwd-tmpl dropdown-item" href="javascript:;">Generic</a>
		<a class="edit-expiring-pwd-tmpl dropdown-item" href="javascript:;">Expiring</a>
	      </div>
	    </li>
          </ul>
	</div>

	<div>
	  <form class="input-group" id="full-search-form" onsubmit="return false">
	    <input type="search"
		   id="full-search-text"
		   class="form-control rounded-l-full">
	    <div class="input-group-append">
	      <button type="submit"
		      id="full-search"
		      class="input-group-text rounded-r-full"><i class="fas fa-search"></i></button>
	    </div>
	  </form>
	</div>

        <div>
	  {%if user.is_authenticated%}
	  <span>Logged in as: {{user.email|default:user.username}}</span>
	  <!-- {%url 'logout'%} -->
          <a href="/auth/logout/"
	     class="btn btn-outline-light me-2">Logout</a>
	  {%else%}
          <a href="/auth/login/"
	     class="btn btn-outline-light me-2">Login</a>
	  {%endif%}
        </div>
      </div>
    </div>
  </header>
  <div class="container">{%block main_content%}{%endblock%}</div>
</main>
</body>
{%endblock%}
