{%extends "base_home.html"%}

{%block main_content%}
{%if user.is_authenticated%}
<div class="row">
  <div class="col">
    <p class="text-center p-4 text-2xl">We show table here.</p>
  </div>
</div>
{%else%}
<div class="row">
  <div class="col-6 offset-3">
    <h2 class="text-6xl mb-2 text-center font-bold">Lorem Ipsum</h2>

    <h4 class="text-xl mb-1 text-center font-italic">Neque porro quisquam
      est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
      velit...</h4>
    <h5 class="text-xl mb-4 text-center font-italic">There is no one
      who loves pain itself, who seeks after it and wants to have it,
      simply because it is pain...</h5>
  </div>
  <div class="col-8 offset-2">
    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elit a odio tristique pulvinar vitae blandit urna. Sed et lobortis mi. Maecenas molestie augue vitae enim eleifend, non volutpat metus sollicitudin. Cras ultricies id nisl sed vulputate. Nam vehicula, ex vitae imperdiet vulputate, enim nisi euismod tortor, sit amet dictum turpis turpis eget risus. Cras facilisis eros vel nisl tristique sagittis. Duis congue odio at molestie malesuada. Donec mi enim, lacinia a elit a, mollis ullamcorper ex. Fusce suscipit nisi nec vestibulum aliquet. Etiam cursus, tellus eget congue congue, sapien metus facilisis est, quis cursus mi nulla eu urna. Proin consectetur nec neque sit amet gravida. Aliquam et diam elit. Aenean pulvinar sollicitudin metus, sit amet suscipit mauris volutpat quis.</p>

    <p class="mb-3">Etiam id pulvinar massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla sed libero suscipit, imperdiet felis id, ultrices elit. Proin porttitor elit eget erat ultricies, sed dignissim justo sodales. Vivamus accumsan magna est, sit amet sodales nulla consequat ut. Ut faucibus libero eget porta placerat. Integer eget vehicula lectus. Aliquam id porta metus, hendrerit faucibus est. Mauris gravida consectetur enim eget tempus. Quisque in ultricies dui, maximus placerat nisl.</p>

    <p class="mb-3">Quisque ex diam, suscipit non lorem quis, scelerisque finibus felis. Aenean ut ante in tortor rhoncus congue. Suspendisse varius sapien nunc, a dignissim nunc posuere et. Vivamus fermentum malesuada eros, nec molestie urna congue ut. Pellentesque interdum blandit condimentum. Suspendisse justo tortor, venenatis sit amet tellus id, hendrerit vulputate mauris. Donec eget massa posuere, maximus velit tristique, interdum orci.</p>

    <p class="mb-3">Vivamus pharetra ac augue id bibendum. Nullam aliquam, ex quis egestas semper, odio ipsum ornare erat, quis dapibus neque orci in est. Quisque diam quam, pharetra sit amet pulvinar a, tempor at sapien. Vivamus sapien nunc, varius eget tellus vel, semper mollis augue. Duis egestas lacus nec mi viverra pretium. Duis vitae diam vitae ligula lacinia posuere a sit amet eros. Suspendisse dolor ligula, mollis et scelerisque non, semper quis mauris. Quisque convallis blandit interdum. Sed sit amet purus et metus faucibus posuere. Aenean blandit, nibh scelerisque aliquet consequat, enim orci congue nisl, laoreet placerat mauris sem quis turpis. Sed sit amet viverra nulla. Integer euismod quis justo eu dictum. Aenean tristique faucibus bibendum. Mauris sed quam fermentum, porta erat vel, finibus velit.</p>

    <p class="mb-3">Fusce porttitor enim in tellus iaculis, sed feugiat neque lobortis. Curabitur pretium neque et nibh elementum laoreet. Duis rutrum laoreet metus eget tristique. Phasellus ultrices porttitor arcu, vel bibendum odio blandit cursus. Sed eu ex ante. Proin eu pulvinar turpis. Integer pellentesque tempor mauris eu pharetra. Suspendisse vel orci sit amet eros fringilla rutrum vel in velit. Integer nec sollicitudin purus. Cras pharetra sit amet turpis dignissim porttitor. Suspendisse rutrum ac massa eu pretium. Vestibulum iaculis laoreet felis at ultrices.</p>

  </div>
</div>
{%endif%}
{%endblock%}
